/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2021 by LambdAurora <aurora42lambda@gmail.com>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

/* Basics */

:root {
	--ls_theme_primary: #f90;
	--ls_theme_on_primary: #fff;
	--ls_theme_foreground: #444;
	--ls_theme_background: #fff;

	--ls_theme_foreground_accentuated: #4d4d4d;
	--ls_theme_background_accentuated: #f8f8f8;
	--ls_theme_background_highlight: #fff;
	--ls_theme_background_popover: var(--ls_theme_background_accentuated);

	--ls_theme_border_color: #777;

	color-scheme: light;

	--peeking_fox_delay: 0s;
}

@media (prefers-color-scheme: dark) {
	:root {
		--ls_theme_foreground: #fff;
		--ls_theme_background: #242424;

		--ls_theme_foreground_accentuated: #bdbdbd;
		--ls_theme_background_accentuated: #222;
		--ls_theme_background_highlight: #282828;
		--ls_theme_background_popover: #2d2d2d;

		color-scheme: dark;
	}
}

body {
	font-family: -apple-system, system-ui, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	margin: 0;

	color: var(--ls_theme_foreground);
	background-color: var(--ls_theme_background);
}

main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	margin: 40px auto;
	padding: 0 10px;
	max-width: 60em;
	box-sizing: border-box;
}

a {
	color: var(--ls_theme_primary);
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

/*
 * Depth
 */

.ls_elevation_2, .ls_btn[ls_variant="contained"] {
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
	0 2px 2px 0 rgba(0, 0, 0, .14),
	0 1px 5px 0 rgba(0, 0, 0, .12);
}

.ls_elevation_4, .ls_btn[ls_variant="contained"]:hover, .ls_btn[ls_variant="contained"]:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
	0 4px 5px 0 rgba(0, 0, 0, .14),
	0 1px 10px 0 rgba(0, 0, 0, .12);
}

.ls_elevation_8, .ls_btn[ls_variant="contained"]:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
	0 8px 10px 1px rgba(0, 0, 0, .14),
	0 3px 14px 2px rgba(0, 0, 0, .12);
}

/*
 * Typography
 */

.ls_subtitle2, .ls_app_footer_license {
	font-size: .857rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: .0071428571em;
}

/*
 * Layout
 */

.ls_divider {
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0;
}

.ls_container, .ls_app_footer, .ls_app_footer > .ls_app_footer_license {
	width: 100%;
	box-sizing: border-box;
}

/* Images */

.ls_responsive_img {
	width: 100%;
	height: auto;
}

/* Quotes */

blockquote {
	border-left: solid var(--ls_theme_primary);
	padding-left: 1em;
}

blockquote > .ls_source {
	font-size: 80%;
	color: var(--ls_theme_foreground_accentuated);
}

blockquote > .ls_source::before {
	content: "\2014 \00A0";
}

/*
 * Buttons
 */

.ls_btn {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	min-width: 64px;
	height: 36px;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	overflow: hidden;
	outline: none;

	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .05929em;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	color: var(--ls_theme_primary);
	background-color: transparent;

	padding: 0 16px;
	margin: 6px 8px;

	cursor: pointer;
}

.ls_btn::before {
	content: '';
}

.ls_btn::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity .2s ease-out, background-color .2s ease-out;
}

.ls_btn::after, .ls_btn::before {
	background-color: var(--ls_theme_primary);
}

.ls_btn:hover::before {
	opacity: .04;
}

/*
 * Button variants
 */

.ls_btn[ls_variant="contained"], .ls_btn[ls_variant="fab"] {
	--ls_ripple_fg_opacity: 0.32;
	background-color: var(--ls_theme_primary);
	color: var(--ls_theme_on_primary);
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.ls_btn[ls_variant="contained"][disabled], .ls_btn[ls_variant="fab"][disabled] {
	color: rgba(0, 0, 0, .37);
	background-color: rgba(0, 0, 0, .12);
	box-shadow: none !important;
}

.ls_btn[ls_variant="contained"]::after, .ls_btn[ls_variant="contained"]::before, .ls_btn[ls_variant="fab"]::after, .ls_btn[ls_variant="fab"]::before {
	background-color: var(--ls_theme_on_primary);
}

.ls_btn[ls_variant="contained"]:hover:before, .ls_btn[ls_variant="fab"]:hover:before {
	opacity: .2;
}

.ls_btn[ls_variant="contained"]:active:before, .ls_btn[ls_variant="fab"]:active:before {
	opacity: .4;
}

.ls_btn[disabled] {
	pointer-events: none;
	cursor: default;
	box-shadow: none;
	color: rgba(0, 0, 0, .37);
}


/*
 * Footer
 */

.ls_app_footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	background-color: var(--ls_theme_background_accentuated);
	color: #fff;
}

.ls_app_footer > .ls_app_footer_license {
	display: flex;
	justify-content: space-between;
	padding: 8px;

	color: var(--ls_theme_foreground_accentuated);
	background-color: rgba(0, 0, 0, 0.1);
}

.ls_app_footer > .ls_app_footer_license a {
	color: var(--ls_theme_foreground_accentuated);
	text-decoration: underline;
}

/*
 * Utilities
 */

.hide {
	display: none !important;
}

.center {
	text-align: center;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

/* Fox peeking animations */

@keyframes fox_peek_left {
	0% {left: -64px; opacity: 100%;}
	100% {left: 0px; opacity: 100%;}
}

@keyframes fox_peek_top {
	0% {top: -64px; opacity: 100%;}
	100% {top: 0px; opacity: 100%;}
}

@keyframes fox_peek_right {
	0% {right: -64px; opacity: 100%;}
	100% {right: 0px; opacity: 100%;}
}

@keyframes fox_peek_bottom {
	0% {bottom: -64px; opacity: 100%;}
	100% {bottom: 0px; opacity: 100%;}
}

.peeking_fox_left, .peeking_fox_top, .peeking_fox_right, .peeking_fox_bottom {
	position: fixed;
	opacity: 0;
}

.peeking_fox_left {
	transform: rotate(90deg);
	animation: fox_peek_left var(--peeking_fox_duration, 5s) ease-in-out var(--peeking_fox_delay, 0s) infinite alternate;
}

.peeking_fox_top {
	transform: rotate(180deg);
	animation: fox_peek_top var(--peeking_fox_duration, 5s) ease-in-out var(--peeking_fox_delay, 0s) infinite alternate;
}

.peeking_fox_right {
	transform: rotate(270deg);
	animation: fox_peek_right var(--peeking_fox_duration, 5s) ease-in-out var(--peeking_fox_delay, 0s) infinite alternate;
}

.peeking_fox_bottom {
	animation: fox_peek_bottom var(--peeking_fox_duration, 5s) ease-in-out var(--peeking_fox_delay, 0s) infinite alternate;
}

/*
 * Mobile
 */

@media (max-width: 850px) {
	.ls_app_footer_license {
		flex-direction: column;
	}

	.ls_app_footer > .ls_app_footer_license > * {
		text-align: center;
	}
}


/* Giscus styling start */

:root {
	--color-fg-default: var(--ls_theme_foreground);
	--color-bg-primary: var(--ls_theme_background_highlight);
	--color-bg-tertiary: var(--ls_theme_background_accentuated);
	--color-bg-overlay: var(--ls_theme_background_popover);
	--color-social-reaction-bg: var(--ls_theme_background_highlight);

	--color-btn-primary-hover-bg: var(--ls_theme_background_accentuated);

	--color-border-default: var(--ls_theme_border_color);
}

.btn {
	border-color: transparent;
}

.btn-primary {
	color: var(--ls_theme_on_primary);
	background-color: var(--ls_theme_primary);
}

.btn-primary:hover {
	color: var(--ls_theme_primary);
}

.btn-primary[disabled] {
	color: rgba(0, 0, 0, .37);
	background-color: rgba(0, 0, 0, .12);
	cursor: default;
}

@media (prefers-color-scheme: dark) {
	.btn-primary[disabled] {
		color: rgba(255, 255, 255, .37);
		background-color: rgba(255, 255, 255, .12);
	}
}

.gsc-reactions-popover {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
	0 4px 5px 0 rgba(0, 0, 0, .14),
	0 1px 10px 0 rgba(0, 0, 0, .12);
}

.mb-\[-1px\] {
	margin-bottom: initial;
}
