details > summary {
	cursor: pointer;
}

summary > h1, summary > h2, summary > h3, summary > h4, summary > h5, summary > h6 {
	display: inline-block;
}

.card {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
	box-sizing: border-box;
	background-color: var(--ls_theme_background_popover);
	margin: 1em 0;
}

.card > :first-child:not(.ls_btn) {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.card > :first-child:not(.ls_btn) > img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.card > :not(:first-child) {
	border-top: 1px solid var(--ls_theme_border_color);
}

.card_content {
	display: flex;
	flex-direction: row;
}

.card_content > img {
	height: 128px;
	width: 128px;
}

.card_content > div {
	flex: 1 1 auto;
	padding: 1em;
}

.card_content > b {
	flex: 1 1 25%;
	padding: 1em;
}

.card_content > ul {
	flex: 1 1 45%;
}

.card_content > div > :last-child {
	margin-block-end: 0;
}

.mod_host {
	position: relative;
	padding-top: 4px;
	margin: 0.25em 0.5em;
}

.mod_host .loader {
	position: absolute;
	right: -10px;
	bottom: 0;
}

.loaders, .loader {
	display: inline-flex;
}

.loader > img {
	margin-right: 0.25em;
}

details > hr {
	color: var(--ls_theme_secondary);
}

.giscus {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	margin: 40px auto;
	padding: 0 10px;
	max-width: 60em;
	box-sizing: border-box;
}
